<html>
  <head>
    <title>Job List</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        body {
          background-color: rgb(178, 250, 254);
        }
        h1 {
          font-size: 40px;
          color: rgb(0, 0, 0);
          margin-left: 4%;
        }
        .button1 {
          font-size: 16px;
          background-color: white;
          color: black;
          border: 2px solid #e7e7e7;
          padding: 8px 16px;
          transition-duration: 0.4s;
          cursor: pointer;
        }
        .button1:hover {background-color: #e7e7e7;}
        
        .div1 {
          background-color: #f2f2f2;
          padding: 10px;
        }
        .li1{
          border-color: black;
          background-color: #ffffff;
          padding: 10px;
        }
      </style>
  </head>
  <body>
    <h1>Job Listing<h1>
    <h6></h6>
    <div class = "div1" id="app">
      <button class="button button1" v-on:click="getJobs(); form = false" >Get jobs</button>
      <button class="button button1" v-on:click="form = true">Add job</button><br>

      <div class = "div2" v-if="form == false && Object.keys(listOfJobs).length !=0" v-for="data in listOfJobs">
          <ul>
              <li class="li1">Title: {{ data.title }} <br>
                Salary: €{{data.salary}} <br>
                Company: {{data.company}} <br>
                Description: {{data.description}} <br>
                <button v-on:click="deleteJob(data.title,data.salary,data.company,data.description)">Delete</button>
            </li>
          </ul>
      </div>

      <br>
      <h3 v-if="form">Add your job position here!</h3>
      <label v-if="form" for="title">Title:</label> <br>
      <input v-if="form" v-model="title" id="title" /> <br>
      <br>
      <label v-if="form" for="salary">Salary:</label> <br>
      <input v-if="form" v-model="salary" id="salary" /> <br>
      <br>
      <label v-if="form" for="company">Company:</label> <br>
      <input v-if="form" v-model="company" id="company" /> <br>
      <br>
      <label v-if="form" for="description">Description:</label> <br>
      <input v-if="form" v-model="description" id="description" /> <br>
      <br>
      <button v-if="form" v-on:click="addJob(title, salary, company, description)">
        Add
      </button>
    </div>
    <script>
      new Vue({
        el:"#app",
        data:{
          form: false,
          title:"",
          salary:"",
          company:"",
          description:"",
          listOfJobs:{},
          fullList:""
        },
        methods: {
          //getJobs function
          //call getjobs router to get all jobs
          getJobs: function(){
            fetch("getjobs/")
            .then((res) => res.json())
            .then((res) => {
              this.listOfJobs = res.list;
              console.log(this.listOfJobs);
              form = false;
            })
          },


          //delete function
          //deletes a job from the json list
          //takes title salary company and description before sending
          //a request with the title and company parameters
          deleteJob: function(title, salary, company, description){
            fetch("title/"+title+"/company/"+company)
            .then((res) => res.json())
            .then((res) => {
              console.log("TRYING TO ADD JOB");
            })
            console.log(title,salary,company,description);
            //wait 1 second before refreshing the list on the browser
            //if no waiting is used, the routing gets overloaded with two 
            //requests at the same time
            setTimeout(() => this.getJobs(), 1000);
          },

          //addjob function
          //takes title, salary, company, description and sends a 
          //request to the server to add a new job list
          addJob: function(title, salary, company, description){
            if(title.length!=0 && salary.length!=0 && company.length!=0 && description.length!=0 && isNaN(salary)==false){
              this.title = "";
              this.salary = "";
              this.company = "";
              this.description = "";
              fetch("title/"+ title + "/salary/" +salary+"/company/"+company+"/description/"+description)
              .then((res) => res.json())
              .then((res) => {
              console.log("TRYING TO ADD JOB");
              
            })
            }
            else if(isNaN(salary)==true){
              alert("Error! Salary must be a number");
            }else{
              alert("Error! Check your entries, fill in all spaces");
            }
          }
        }
      })
    </script>
  </body>
</html>
